body {
  background-color: #f9fbe7;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar {
  position: sticky;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
  background-color: #eccdb4;
}
.navbar a {
  font-size: 18px;
  text-decoration: none;
  color: black;
  margin-left: 15px;
}
#logo {
  order: -1;
  margin-right: auto;
  font-style: italic;
  font-weight: 800;
  font-size: 18px;
}
#cart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
#cart-table {
  text-align: center;
}
